<input
  type="file"
  class="file-input"
  (change)="onFileSelected($event)"
  #fileUpload
/>

<div class="file-upload">
  <mat-form-field>
    <input matInput [disabled]="true" [value]="fileName" />
  </mat-form-field>

  <mat-form-field class="input-field">
    <input matInput placeholder="Title" [(ngModel)]="title" />
  </mat-form-field>

  <mat-form-field class="input-field">
    <textarea
      matInput
      placeholder="Description"
      [(ngModel)]="description"
    ></textarea>
  </mat-form-field>

  <button
    mat-mini-fab
    color="primary"
    class="upload-btn"
    (click)="fileUpload.click()"
  >
    <mat-icon>attach_file</mat-icon>
  </button>

  <p class="error-message" *ngIf="uploadError">{{ uploadError }}</p>
</div>
